node_modules/
dist/
.astro/
.wrangler/
.idea/
.DS_Store
.env
.env.*
!.env.example
.dev.vars
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db

# Texts
*.md
structure.txt